<ion-header [translucent]="true">
  <ion-toolbar color="secondary" >
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>



<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Ingrese su Nombre:</mat-label>
      <input matInput placeholder="Ej: Juan Perez" value="">
    </mat-form-field>
  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Ingrese su Contraseña:</mat-label>
      <input matInput placeholder="123456A." value="">
    </mat-form-field>
  </form>

  <section>
    <div class="example-label"></div>
    <div class="example-button-row">
  
      <button mat-stroked-button color="primary" >Iniciar Sesión</button>
    </div>
  </section>
  
</ion-content>

