<ion-header>
  <ion-toolbar color="secondary" >
    <ion-buttons slot="start">
      <ion-back-button>

      </ion-back-button>

    </ion-buttons>
    <ion-title>
      Registro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-car-header>
    <ion-card-tittle>Registro</ion-card-tittle>
  </ion-car-header>
  <ion-card-content>
    <form [formGroup]="FormularioRegistrar">
    <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input formControlName="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input formControlName="confirmacionPassword" type="password"></ion-input>
        </ion-item>
        <br>
        <ion-button (click)="guardar()">
          Registrar
        </ion-button>
    </form>

  
    </ion-card-content>
  
  </ion-card>
  
  
  
  <ion-footer>
  
    <ion-toolbar color="secondary">

      
    </ion-toolbar>
  </ion-footer>
  